html
  head
    meta(charset='utf-8')
    title Mikey Badr
  body
    h1 Mikey Badr
    .container
      .row
        .col-xs-12
          #container(ng-view)
    script(src='/vendor/jquery/dist/jquery.js')
    script(src='/vendor/angular/angular.js')
    script(src='./index.js')
    script(src='/vendor/bootstrap/dist/js/bootstrap.js')
    script(src='/views/home/home.js')
