html
  head
    meta(charset='utf-8')
    title Mikey Badr
  body
    h1 Mikey Badr
    h2 test
    h3 test2
    script(src='/vendor/jquery/dist/jquery.js')
    script(src='/vendor/angular/angular.js')
    script(src='/vendor/bootstrap/dist/js/bootstrap.js')
