body{
  background-color: #ccc;
}

#myface{
  max-height: 200px;
  border-radius: 220px;
}

#social{
  list-style-type: none;
}

#social li{
  display: inline;
  padding-right: 20px;
}

.newIdea{
  display: inline-block;
  margin-left: 38%;
}
.doIt{
  display: inline-block;
  text-align: right;
  margin-left: 15px;
}

.headline a{
  text-decoration: none;
  color: #292929;
}
