body{
  background-color: #ccc;
  /*
  background-image: url('../assets/squared_metal.png');
  */
}

#myface{
  max-height: 200px;
  border-radius: 220px;
}

#social{
  list-style-type: none;
  padding-left: 0px;
}

#social li{
  display: inline;
  padding-right: 20px;
}

.newIdea{
  display: inline-block;
  margin-left: 38%;
}
.doIt{
  display: inline-block;
  text-align: right;
  margin-left: 15px;
}

.headline a{
  text-decoration: none;
  color: #333;
  display: inline;
  margin: 0;
}

.project{
  display: inline-block;
  max-height: 300px;
  width: 200px;
  border: 1px solid black;
  margin: 20px;
  padding: 5px;
  vertical-align: top;
}

.project img{
  max-height: 100%;
  max-width: 100%;
}
