html, body {
	margin: 0;
	height: 100%;
	background-color: #FFF;
}

.control-panel {
	padding: 2rem;
	background-color: grey;
	border-radius: 15px;
	margin: 2rem;
	.input-wrapper {
		// color: bl;
		h3{
			display: inline-block;
		}
	}

	input {
		width: 60px;
		height: 40px;
		outline: 0;
		border: 0;
		border-bottom: 4px solid black;
		background: 0;
		font-size: 22px;
		&[type=range] {
			display: inline-block;
			max-width: 200px;
		}
		&[type=number]::-webkit-inner-spin-button,
		&[type=number]::-webkit-outer-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}
		&::placeholder {
			color: black;
		}

		&#maxOccurancesInput 	{
			width: 100px;
		}
	}

	#renderYearButton {
		display: block;
		margin: 0 auto;
		margin-top: 2rem;
		min-width: 200px;
	}
}

.name {
	margin: 0;
	display: inline-block;
	padding: 5px;
}

.toggleSwitch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
	input {
		display: none;
		&:checked + .toggleSlider {
			background-color: #2196F3;

			&:before {
				-webkit-transform: translateX(26px);
				-ms-transform: translateX(26px);
				transform: translateX(26px);
			}
		}
		&:focus + .toggelSlider {
			box-shadow: 0 0 1px #2196F3;
		}
	}

	.toggleSlider {
		border-radius: 34px;
		position: absolute;
		cursor: pointer;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: #ea96c3;
		-webkit-transition: .4s;
		transition: .4s;

		&:before {
			position: absolute;
			content: "";
			height: 26px;
			width: 26px;
			left: 4px;
			bottom: 4px;
			background-color: white;
			-webkit-transition: .4s;
			transition: .4s;
			border-radius: 50%;
		}

	}
}

.spin {
	animation: spin;
	animation-name: spin;
	animation-duration: 5000ms;
	animation-iteration-count: infinite;
	animation-timing-function: linear; 
}

@keyframes spin {
		from {
				transform:rotate(0deg);
		}
		to {
				transform:rotate(360deg);
		}
}

