h1.h1.headline: a(href='/#/') Mikey Badr
.row
  .col-xs-8
    h4 Here are some things I made or helped make.
    br
    a(href='/#/portfolio') portfolio
    ul#social
      li
      li
      li: a(href='http://twitter.com/MikeyBadr') 
        i.fa.fa-2x.fa-twitter
      li: a(href='http://github.com/mfbadr') 
        i.fa.fa-2x.fa-github
      li: a(href='http://medium.com/@mikeybadr') 
        i.fa.fa-2x.fa-pencil 
      li: a(href='http://facebook.com/mikeybadr') 
        i.fa.fa-2x.fa-facebook 
      li: a(href='mailto:mfbadr@gmail.com') 
        i.fa.fa-2x.fa-envelope 
  .col-xs-4
    img#myface(src='/assets/mfbadr.jpg')
.row
  {{title}}
  
