br
ul#social
  li.h1.headline: a(href='/#/') Mikey Badr
  li
  li: a(href='http://twitter.com/MikeyBadr') 
    i.fa.fa-2x.fa-twitter
  li: a(href='http://github.com/mfbadr') 
    i.fa.fa-2x.fa-github
  li: a(href='http://medium.com/@mikeybadr') 
    i.fa.fa-2x.fa-pencil 
  li: a(href='http://facebook.com/mikeybadr') 
    i.fa.fa-2x.fa-facebook 
  li: a(href='mailto:mfbadr@gmail.com') 
    i.fa.fa-2x.fa-envelope 
.row
  .col-xs-8
    h4 I am a full-stack JavaScript developer. 
    h4.lead Here are some things I made (or helped make)
    br
    a.h4(href='/#/skills') See the skills I used to make these.
  .col-xs-4
    img#myface(src='/assets/mfbadr.jpg')
.row
  .project
    a(href='http://mikeyb.net/duper-mario') 
      img(src='/assets/duper-mario.png')
    a.h5(href='http://mikeyb.net/duper-mario') Duper Mario
    a(href='http://github.com/mfbadr/duper-mario') 
      i.fa.fa-github 
    p A Mario parody/tribute made with Phaser
  .project
    a(href='https://play.google.com/store/apps/details?id=daveboling.gravity.flip')
      img(src='/assets/gravity-flip.png')
    a.h5(href='https://play.google.com/store/apps/details?id=daveboling.gravity.flip') Gravity Flip
    a(href='http://github.com/mfbadr/gravity-flip') 
      i.fa.fa-github 
    p A space-themed Android game made with Ionic
  .project
    a(href='http://nfltweets.mikeyb.net')
      img(src='/assets/nfltweets1.png')
    a.h5(href='http://nfltweets.mikeyb.net') nflTweets
    a(href='http://github.com/mfbadr/nflTweets') 
      i.fa.fa-github 
    p A MEAN-powered fantasy football tool using twitter. 
  .project
    a(href='http://fitness.mikeyb.net')
      img(src='/assets/fitness.png')
    a.h5(href='http://fitness.mikeyb.net') Fitness Trackr
    a(href='http://github.com/mfbadr/fitness-trackr') 
      i.fa.fa-github 
    p A MEAN-powered BMR calculator and calorie counter
      
      
    
    
    
