.testclass
  .row
    .col-xs-12.col-sm-8
      div
        .well.well-lg
          span.small Dear DraftKings Hiring Manager,
          h2 Mikey Badr: Fantasy Engineering Sleeper Pick?
          h3.small 4/6/2015 - A Fantasy Engineering Expert
          p Competition is heating up. That *other* fantasy site is older and  supposedly the ‘leader’ in daily fantasy. That’s why you need to make every pick count. As a fantasy engineering team manager in a quickly growing industry, you need to make tough decisions on who to draft. 
          p Thankfully, this time the decision is easy: <strong>Mikey Badr is a sleeper pick who is a lock to put up big production</strong> in the coming season.
          p He’s easy to overlook if you just look at his stats. No computer science degree and he’s been programming for less than a year? 
            | Not so fast. A closer look though reveals <strong>he’s the perfect candidate for this Full Stack Web Engineering</strong> position. 
            | A quick look at <a href="/#/">his website</a> or <a href="https://github.com/mfbadr">GitHub</a> will show you he is passionate about development.
            | He plays both sides of the ball, front and back end. 
            | On the front-end he specializes in AngularJS, but his solid JavaScript fundamentals and understanding of HTML and CSS means he is comfortable diving into a new
            | framework or existing codebase.  On the back-end he creates modular, readable, and efficient server-side code using NodeJS, tested with Mocha. 
            | He is a team player, comfortable collaborating, communicating, and using Git. 
          p Still not convinced? He’s got all the intangibles you want on your team. 
            | The guy is hungry, you can find him working everyday to be a better programmer. He knows how to stay positive and motivated (as a Titans’ fan, he has to be). His diverse background gives him excellent communication skills. 
            | <strong>Not only does he love fantasy sports, but he’s already made a fantasy football application.</strong> If you go to <a href="http://nfltweets.mikeyb.net">nfltweets.mikeyb.net</a> you can see it in action. 
            | There were no fantasy football tools out there that did what he wanted, so he went and made it. 
            | Then he used it to destroy his <strike>competition</strike> friends in his 12-man league, in which he made the finals two years running. 
          p When he isn’t coding, playing fantasy, or abusing sports metaphors, Mikey can be found playing ultimate, rock climbing, playing board games, reading comics and exploring the city. He would love to tell you more about the code behind nflTweets, his drafting strategy, and how he can be an asset to your team. He’s currently based in Brooklyn and can come by your office any time for an interview, Wonderlic, or 40-yard dash. 
    .col-xs-12.col-sm-4
      div
        .well.well-lg
          span.h3 Player profile: Mikey Badr
          hr
          img.img-rounded(src='/assets/mikey2_bw_square.jpg', style='max-width: 100px; display: inline-block; margin-top: 0px', align='right')
          //.h4 Mikey Badr
          ul
            li GitHub Contributions: 982
            li Total GitHub repositories: 76
            li Favorite Language: JavaScript
            li Position: Back or Front end
            li Eager to Learn
            li Team player
            li Fantasy Nerd
          ul#social
            li: a(href='http://twitter.com/MikeyBadr') 
              i.fa.fa-2x.fa-twitter
            li: a(href='http://github.com/mfbadr') 
              i.fa.fa-2x.fa-github
            li: a(href='http://medium.com/@mikeybadr') 
              i.fa.fa-2x.fa-pencil 
            li: a(href='https://www.linkedin.com/profile/view?id=388687505') 
              i.fa.fa-2x.fa-linkedin 
            li: a(href='mailto:mfbadr@gmail.com') 
              i.fa.fa-2x.fa-envelope 
      img.img-rounded(src='/assets/dk.jpg', style='display: inline-block; max-height: 75px; margin-top: 15px', align='left')



