h1 Mikey Badr
.row
  .col-xs-8
    h5 I'm an aspiring developer currently based out of Nashville, TN. 
    h5 Here you can find links to my projects, learn about my skills and how to contact me.
    h5 Check back for updates.
    //h5 Me on the internet:
    ul#social
      li: a(href='http://twitter.com/MikeyBadr') 
        i.fa.fa-2x.fa-twitter
      li: a(href='http://github.com/mfbadr') 
        i.fa.fa-2x.fa-github
      li: a(href='http://medium.com/@mikeybadr') 
        i.fa.fa-2x.fa-pencil 
      li: a(href='http://facebook.com/mikeybadr') 
        i.fa.fa-2x.fa-facebook 
      li: a(href='mailto:mfbadr@gmail.com') 
        i.fa.fa-2x.fa-envelope 
  .col-xs-4
    img#myface(src='/assets/mfbadr.jpg')
    
.row
  .col-xs-6
    h4 Things I know:
    ul
      li 
        a(href='http://mean.io') MEAN-powered
        |  full-stack development
      li HTML and CSS using preprocessors such as 
        a(href='http://jade-lang.com') Jade
        |  and 
        a(href='http://sass-lang.com') Sass
      li Responsive web design using 
        a(href='http://getbootstrap.com') Twitter Bootstrap
      li 
        a(href='https://coveralls.io') Coveralls
        |  code coverage tool and 
        a(href='https://travis-ci.org') Travis CI 
        |  hosted testing.
        
        li Git, 
          a(href='http://trello.com') Trello
        |  and other productivity tools
      li Android and iOS mobile development using the 
        a(href='http://ionicframework.com') Ionic framework
      li HTML5 game development using the 
        a(href='http://phaser.io') Phaser framework
  .col-xs-6
    h4 Things I've helped make
    ul 
      li: a(href='mfbadr.github.io/duper-mario') Duper-mario
        a(href='http://github.com/mfbadr/duper-mario') 
          i.fa.fa-github
      ul
        li Mario tribute/parody made with Phaser
    
    
