h1 Mikey Badr
.row
  .col-xs-8
    h5 I'm an aspiring developer currently based out of Nashville, TN. 
    h5 Here you can find links to my projects, learn about my skills and how to contact me.
    h5 Check back for updates.
  .col-xs-4
    img#myface(src='/assets/mfbadr.jpg')
.col-xs-6
  h4 Me on the internet:
  ul
    li: a(href='http://twitter.com/MikeyBadr') @mikeybadr
    li: a(href='http://github.com/mfbadr') github
    li: a(href='http://medium.com/@mikeybadr') blog
    li: a(href='http://facebook.com/mikeybadr') facebook
    li: a(href='mailto:mfbadr@gmail.com') mfbadr at gmail.com
.col-xs-6
  h4 Things I know:
  ul
    li 
      a(href='http://mean.io') MEAN-powered
      |  full-stack development
    li HTML and CSS using preprocessors such as 
      a(href='http://jade-lang.com') Jade
      |  and 
      a(href='http://sass-lang.com') Sass
    li Responsive web design using 
      a(href='http://getbootstrap.com') Twitter Bootstrap
    li 
      a(href='https://coveralls.io') Coveralls
      |  code coverage tool and 
      a(href='https://travis-ci.org') Travis CI 
      |  hosted testing.
    
    li Git, 
      a(href='http://trello.com') Trello
      |  and other productivity tools
    li Android and iOS mobile development using the 
      a(href='http://ionicframework.com') Ionic framework
    li HTML5 game development using the 
      a(href='http://phaser.io') Phaser framework
