h1 Mikey Badr
.row
  .col-xs-8
    h5 I'm an aspiring developer currently based out of Nashville, TN. 
    h5 Here you can find links to my projects, learn about my skills and how to contact me.
  .col-xs-4
    img#myface(src='/assets/mfbadr.jpg')
.col-xs-6
  h4 Me on the internet:
  ul
    li: a(href='http://twitter.com/MikeyBadr') @mikeybadr
    li: a(href='http://github.com/mfbadr') github
    li: a(href='http://medium.com/@mikeybadr') blog
    li: a(href='http://facebook.com/mikeybadr') facebook
    li: a(href='mailto:mfbadr@gmail.com') mfbadr at gmail.com
.col-xs-6
  h4 Things I know:
  ul
    li MEAN-powered full-stack development
    li HTML and CSS as using preprocessors such as jade and less/sass
    li coveralls and travis.ci hosted testing
    li git, trello and other productivity tools
    li Android and iOS mobile development using the 
      a(href='http://ionicframework.com') Ionic framework
    li HTML5 game development using the 
      a(href='http://phaser.io') Phaser framework
