
<h1>Mikey Badr</h1>
<div class="col-xs-6">
  <h5>I'm as aspiring developer based out of Nashville, TN. </h5>
  <h5>Here you can find links to my projects, learn about me and my skills, and how to contact me</h5>
  <ul>
    <li><a href="http://twitter.com/MikeyBadr">@mikeybadr</a></li>
    <li><a href="http://github.com/mfbadr">github</a></li>
    <li><a href="http://medium.com/mfbadr">blog</a></li>
    <li><a href="http://facebook.com/mfbadr">facebook</a></li>
  </ul>
</div>
<div class="col-xs-6"><img id="myface" src="/assets/mfbadr.jpg"></div>