
<h1>Mikey Badr</h1>
<div class="row">
  <div class="col-xs-8">
    <h5>I'm an aspiring developer currently based out of Nashville, TN. </h5>
    <h5>Here you can find links to my projects, learn about my skills and how to contact me.</h5><br>
    <ul id="social">
      <li></li>
      <li></li>
      <li><a href="http://twitter.com/MikeyBadr"> <i class="fa fa-2x fa-twitter"></i></a></li>
      <li><a href="http://github.com/mfbadr"> <i class="fa fa-2x fa-github"></i></a></li>
      <li><a href="http://medium.com/@mikeybadr"> <i class="fa fa-2x fa-pencil"> </i></a></li>
      <li><a href="http://facebook.com/mikeybadr"> <i class="fa fa-2x fa-facebook"> </i></a></li>
      <li><a href="mailto:mfbadr@gmail.com"> <i class="fa fa-2x fa-envelope"> </i></a></li>
    </ul>
  </div>
  <div class="col-xs-4"><img id="myface" src="/assets/mfbadr.jpg"></div>
</div>
<div class="row">
  <div class="col-xs-6">
    <h4>Things I know:</h4>
    <ul>
      <li> <a href="http://mean.io">MEAN-powered</a> full-stack development</li>
      <li>HTML and CSS using preprocessors such as <a href="http://jade-lang.com">Jade</a> and <a href="http://sass-lang.com">Sass</a></li>
      <li>Responsive web design using <a href="http://getbootstrap.com">Twitter Bootstrap</a></li>
      <li> <a href="https://coveralls.io">Coveralls</a> code coverage tool and <a href="https://travis-ci.org">Travis CI </a> hosted testing.</li>
      <li>Git, <a href="http://trello.com">Trello</a> and other productivity tools</li>
      <li>Android and iOS mobile development using the <a href="http://ionicframework.com">Ionic framework</a></li>
      <li>HTML5 game development using the <a href="http://phaser.io">Phaser framework</a></li>
    </ul>
  </div>
  <div class="col-xs-6">
    <h4>Things I've helped make:</h4>
    <ul> 
      <li><a href="http://mikeyb.net/duper-mario">Duper-mario<a href="http://github.com/mfbadr/duper-mario"> <i class="fa fa-github"> </i></a> - A Mario tribute/parody made with Phaser</a></li>
      <li><a href="https://play.google.com/store/apps/details?id=daveboling.gravity.flip">Gravity Flip<a href="https://github.com/kadowki/gravity-flip"> <i class="fa fa-github"> </i></a> - A space-themed Android game made with Ionic</a></li>
      <li><a href="nfltweets.mikeyb.net">nflTweets<a href="https://github.com/mfbadr/nfltweets"> <i class="fa fa-github"> </i></a> - A tool for fantasy football using twitter </a></li>
    </ul>
  </div>
</div>