
<div class="made">
  <div class="project"><a href="http://athlete-analysis.mybluemix.net"><img src="/assets/aa.png"></a><a href="http://athlete-analysis.mybluemix.net" class="h5">Athlete Analysis</a><a href="http://github.com/mfbadr/athlete-analysis"> <i class="fa fa-github"> </i></a>
    <p>AlchemyAPI powered sentiment analysis for athletes</p>
  </div>
  <div class="project"><a href="http://mikeyb-scars.herokuapp.com"><img src="/assets/scars.png"></a><a href="http://mikeyb-scars.herokuapp.com" class="h5">Scars</a><a href="http://github.com/mfbadr/scars"> <i class="fa fa-github"> </i></a>
    <p>A visualization of everyone who has visited, based on device. Django. FabricJS.</p>
  </div>
  <div class="project"><a href="https://play.google.com/store/apps/details?id=daveboling.gravity.flip"><img src="/assets/gravity-flip.png"></a><a href="https://play.google.com/store/apps/details?id=daveboling.gravity.flip" class="h5">Gravity Flip</a><a href="https://itunes.apple.com/WebObjects/MZStore.woa/wa/viewSoftware?id=932888940&amp;mt=8"> <i class="fa fa-apple"> </i></a><a href="http://github.com/mfbadr/gravity-flip"> <i class="fa fa-github"> </i></a>
    <p>A space-themed mobile game made with Ionic. Android and iOS.</p>
  </div>
  <div class="project"><a href="http://nfltweets.mikeyb.net"><img src="/assets/nfltweets1.png"></a><a href="http://nfltweets.mikeyb.net" class="h5">nflTweets</a><a href="http://github.com/mfbadr/nflTweets"> <i class="fa fa-github"> </i></a>
    <p>A MEAN-powered fantasy football tool using twitter. </p>
  </div>
  <div class="project"><a href="http://fitness.mikeyb.net"><img src="/assets/fitness.png"></a><a href="http://fitness.mikeyb.net" class="h5">Fitness Trackr</a><a href="http://github.com/mfbadr/fitness-trackr"> <i class="fa fa-github"> </i></a>
    <p>A MEAN-powered BMR calculator and calorie counter.</p>
  </div>
  <div class="project"><a href="http://craigs-bay.mikeyb.net"><img src="/assets/craigs.png"></a><a href="http://craigs-bay.mikeyb.net" class="h5">Craigs-bay</a><a href="http://github.com/mfbadr/craigs-bay"> <i class="fa fa-github"> </i></a>
    <p>A site for swapping and bartering items. Features geocoding through google.</p>
  </div>
  <div class="project"><a href="http://collectivist.failureengine.com"><img src="/assets/collectivist.png"></a><a href="http://collectivist.failureengine.com" class="h5">Collectivist</a><a href="https://github.com/DSRoden/collectivist-app"><i class="fa fa-github"></i></a>
    <p>Take a survey and a see a visualized 'sync-score' to see if a how well a group knows itself. WIP. </p>
  </div>
  <div class="project"><a href="http://mikeyb.net/duper-mario"> <img src="/assets/duper-mario.png"></a><a href="http://mikeyb.net/duper-mario" class="h5">Duper Mario</a><a href="http://github.com/mfbadr/duper-mario"> <i class="fa fa-github"> </i></a>
    <p>A Mario parody/tribute made with Phaser.</p>
  </div>
  <div class="project"><a href="http://mikeyb.net/roundup"><img src="/assets/roundup.png"></a><a href="http://mikeyb.net/roundup" class="h5">Roundup</a><a href="http://github.com/mfbadr/roundup"> <i class="fa fa-github"> </i></a>
    <p>A simple Phaser game. Run around and collect the stars and diamonds! A precursor to Duper-Mario.</p>
  </div>
  <div class="holder"></div>
  <div class="holder"></div>
  <div class="holder"></div>
  <div class="holder"></div>
  <div class="holder"></div>
</div>