.row
  .col-xs-8
    h1 Mikey Badr
    ul#social
      li: a(href='http://twitter.com/MikeyBadr') 
        i.fa.fa-twitter
      li: a(href='http://github.com/mfbadr') 
        i.fa.fa-github
      li: a(href='http://medium.com/@mikeybadr') 
        i.fa.fa-pencil 
      li: a(href='http://facebook.com/mikeybadr') 
        i.fa.fa-facebook 
      li: a(href='mailto:mfbadr@gmail.com') 
        i.fa.fa-envelope 
  .col-xs-4
    img#myface(src='/assets/mfbadr.jpg')
h3 I am a full-stack javascript developer. Here are some of the things I can do for you.
.row
  .col-xs-12.col-sm-4
    h3 Core Skills
    a(href='http://mean.io') The MEAN stack
    |  is a scalable, powerful, and flexible framework for making webapps. 
    |  MongoDb, Express, AngularJs, and Node.js are exciting and upcoming technologies. Let me put them to work for you.
    |  The MEAN stack allows front and back end javascript, meaning I can focus my skills to produce great products.
  .col-xs-12.col-sm-4
    h3 Front-end
    p I can produce effective, fun, and responsive front-end experiences. 
    | I know how to efficiently craft HTML and CSS using preprocessors such as 
    a(href='http://jade-lang.com') Jade
    |  and 
    a(href='http://sass-lang.com') Sass.
  .col-xs-12.col-sm-4
    h3 Mobile
    p Mobile content is the future of the internet. Making sure your vision works on all target platforms is a priority for me.
    | Using 
    a(href='http://getbootstrap.com') Twitter Bootstrap
    |  I can create mobile-ready websites so you can reach as many users as possible.
    p
    | Using the   
    a(href='http://ionicframework.com') Ionic framework
    |  I can use my skills in AngularJs to create and deploy mobile apps for both Android and iOs.
.row
  .col-xs-12.col-sm-4
    h3 Games
    p Using the 
      a(href='http://phaser.io') Phaser framework
      |  I can use my JavaScript skills to create HTML5 games that can be played in the browser or mobily. 
  .col-xs-12.col-sm-4
    h3 Collaboration and testing
    p I can use producivity tools such as 
      a(href='http://github.com') Git
      |  and 
      a(href='http://trello.com') Trello 
      | to effectively collaborate with a team. 
    p I can use 
      a(href='http://coveralls.io') Coveralls
      |  and 
      a(href='http://travis-ci.com') Travis CI 
      |  to ensure the code I produce is not only tested, but tested well.
  .col-xs-12.col-sm-4
    h3 Deployement
    p I can use 
      a(href='http://aws.amazon.com') Amazon Web Services
      |  to get your project deployed with reliable and scalable hosting solutions. I can procure and set up a custom domain for you. 
    p For mobile apps I can get your project on the Google Play Store and Apple App Store, so you can reach as many users as possible.
    
    
    
       
       
    
  
