
<ul id="social">
  <li class="h1 headline"><a href="/#/">Mikey Badr</a></li>
  <li></li>
  <li><a href="http://twitter.com/MikeyBadr"> <i class="fa fa-2x fa-twitter"></i></a></li>
  <li><a href="http://github.com/mfbadr"> <i class="fa fa-2x fa-github"></i></a></li>
  <li><a href="http://medium.com/@mikeybadr"> <i class="fa fa-2x fa-pencil"> </i></a></li>
  <li><a href="http://facebook.com/mikeybadr"> <i class="fa fa-2x fa-facebook"> </i></a></li>
  <li><a href="mailto:mfbadr@gmail.com"> <i class="fa fa-2x fa-envelope"> </i></a></li>
</ul>
<div class="row">
  <div class="col-xs-8">
    <h4>I am a full-stack JavaScript developer. </h4>
    <h4 class="lead">Here are some things I can do for you.</h4><br>
  </div>
  <div class="col-xs-4"><img id="myface" src="/assets/mfbadr.jpg"></div>
</div>