
<h1 class="h1 headline"><a href="/#/">Mikey Badr</a></h1>
<div class="row">
  <div class="col-xs-8">
    <h4>Here are some things I made or helped make.</h4><br><a href="/#/portfolio">portfolio</a>
    <ul id="social">
      <li></li>
      <li></li>
      <li><a href="http://twitter.com/MikeyBadr"> <i class="fa fa-2x fa-twitter"></i></a></li>
      <li><a href="http://github.com/mfbadr"> <i class="fa fa-2x fa-github"></i></a></li>
      <li><a href="http://medium.com/@mikeybadr"> <i class="fa fa-2x fa-pencil"> </i></a></li>
      <li><a href="http://facebook.com/mikeybadr"> <i class="fa fa-2x fa-facebook"> </i></a></li>
      <li><a href="mailto:mfbadr@gmail.com"> <i class="fa fa-2x fa-envelope"> </i></a></li>
    </ul>
  </div>
  <div class="col-xs-4"><img id="myface" src="/assets/mfbadr.jpg"></div>
</div>
<div class="row">{{title}}</div>