<br>
<ul id="social">
  <li class="h1 headline"><a href="/#/">Mikey Badr</a></li>
  <li></li>
  <li><a href="http://twitter.com/MikeyBadr"> <i class="fa fa-2x fa-twitter"></i></a></li>
  <li><a href="http://github.com/mfbadr"> <i class="fa fa-2x fa-github"></i></a></li>
  <li><a href="http://medium.com/@mikeybadr"> <i class="fa fa-2x fa-pencil"> </i></a></li>
  <li><a href="http://facebook.com/mikeybadr"> <i class="fa fa-2x fa-facebook"> </i></a></li>
  <li><a href="mailto:mfbadr@gmail.com"> <i class="fa fa-2x fa-envelope"> </i></a></li>
</ul>
<div class="row">
  <div class="col-xs-8">
    <h4>I am a full-stack JavaScript developer. </h4>
    <h4 class="lead">Here are some things I made (or helped make)</h4><br>
  </div>
  <div class="col-xs-4"><img id="myface" src="/assets/mfbadr.jpg"></div>
</div>
<div class="row">
  <div class="project"><a href="http://mikeyb.net/duper-mario"> <img src="/assets/duper-mario.png"></a><a href="http://mikeyb.net/duper-mario" class="h5">Duper Mario</a><a href="http://github.com/mfbadr/duper-mario"> <i class="fa fa-github"> </i></a>
    <p>A Mario parody/tribute made with Phaser</p>
  </div>
  <div class="project"><a href="https://play.google.com/store/apps/details?id=daveboling.gravity.flip"><img src="/assets/gravity-flip.png"></a><a href="https://play.google.com/store/apps/details?id=daveboling.gravity.flip" class="h5">Gravity Flip</a><a href="http://github.com/mfbadr/gravity-flip"> <i class="fa fa-github"> </i></a>
    <p>A space-themed Android game made with Ionic</p>
  </div>
  <div class="project"><a href="http://nfltweets.mikeyb.net"><img src="/assets/nfltweets1.png"></a><a href="http://nfltweets.mikeyb.net" class="h5">nflTweets</a><a href="http://github.com/mfbadr/nflTweets"> <i class="fa fa-github"> </i></a>
    <p>A MEAN-powered fantasy football tool using twitter. </p>
  </div>
</div>